joblib==1.4.2
keras==3.3.3
numpy==1.26.4
opencv-python==4.9.0.80
pandas==2.2.2
pytest==8.2.2
python-dateutil==2.9.0.post0
scikit-learn==1.5.0
scipy==1.13.1
setuptools==69.5.1
tensorflow==2.16.1
tensorflow-intel==2.16.1
urllib3==2.2.1
mediapipe==0.10.14
matplotlib==3.9.0